version: "3.8"

services:
  dvwa:
    image: vulnerables/web-dvwa
    ports:
      - "8080:80"
    restart: always

  juice-shop:
    image: bkimminich/juice-shop
    ports:
      - "3000:3000"
    restart: always

  bwapp:
    image: raesene/bwapp
    ports:
      - "8081:80"
    restart: always
